body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 40px;
}
h1{
  font-size: 3em;
  font-weight: 700;
  color: #0099FF;
}
a{
  color: #333399;
}
a:hover{
  color: #FF0099;
}

.states {
    stroke: #fff;
    stroke-width:1px;
}
.states:hover{
  opacity: .6;
}

.legendLinear text {
    font-size: 12px;
}
.tooltip{
  background-color:rgba(255,255,255,0.8);
  margin: 5px;
  padding: 5px;
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 70%;
}

.line.unfocused{
  stroke-opacity: 40%;
  stroke: #999999;
}

.line.focused {
  fill: none;
  stroke-width: 3px;
  stroke-opacity: 100%;
  stroke: #FF9900;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.tooltip1 {
  position: absolute;
  z-index: 10;
}

.tooltip1 p {
  background-color: rgba(255,255,255,.8);
  border: 2px #d3d3d3 solid;
  font-size: 15px;
  padding: 4px;
}

.title{
  font-size: 20px;
  color: #0099ff;
}

.labels{
  font-family: sans-serif;
  font-size: 11px;
  fill: #FF0099;
}
.xlabel{
  font-family: sans-serif;
  font-size: 15px;
  fill: #474747;
}
.ylabel{
  font-family: sans-serif;
  font-size: 15px;
  fill: #474747;
}
